
body{
    background-color: rgb(9, 9, 61,1);
    /* background-color: rgb(225, 225, 233); */
}

/* ----------------------------------------- */
/* Keyframes */
/* ----------------------------------------- */

@keyframes addItem {
    from {
        font-size: 100px;
        width: 150px;
        height: 150px;
    }
    to {
        font-size: 80px;
        width: 140px;
        height: 110px;
    }
}
@keyframes mouseOn{
    0%{
        font-size: 80px;
        width: 140px;
        height: 110px;;
    }
    50%{
        font-size: 100px;
        width: 150px;
        height: 150px;;
    }
    100%{
        font-size: 80px;
        width: 140px;
        height: 110px;;
    }
}
@keyframes clearItem{
    from{font-size: 70px;
        width: 100px;
        height: 100px;
    }
    to{
        font-size: 0;
        width: 0;
        height: 0;
    }
}


/* Header's styles */

.mainHeader {
    display: inline-grid;
    grid-column-gap: 30px;
    grid-template-columns: auto auto auto;

    background: rgb(5, 10, 36);
    /* background-color: rgb(225, 225, 233); */
    padding: 10px 0;
    top: 0;
    left: 0;
    right: 0;

    position: fixed;
    margin-left: 10px;
    margin-right: 10px;

    border-bottom: 3px solid purple;
    box-shadow: 0 1px 3px black;
}

.mainHeader div{
    color: rgb(255, 255, 255);
    /* color: rgb(0, 0, 0); */

    font-size: 50px;
    text-align: center;
    grid-column: 2;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mainHeader span{
    color: rgb(212, 0, 255);
    /* color: rgb(0, 0, 0); */

    grid-row: 1;
    grid-column: 2;
    
    font-family: Lobster-Regular;
    font-family: 'Lobster', cursive;

    font-size: 50px;
    text-align: center;
    margin: 0 auto;
}

/* Theme's toggle button styles */

.far{
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin: auto;
    grid-column: 3;
}
.fas{
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin: auto;
    grid-column: 3;
}


/* Number input */

#element_input{
    margin-top: 50px;
    margin-left: 10px;
    height: 65px;
    width: 250px;
    font-size: 25px;
    border: 3px solid rgb(235, 35, 128);
    box-shadow: 0 3px purple;
    outline: none;
    
}

.grid-input{
    grid-row: 4;
    grid-column: 1;
}

.grid-btn{
    grid-row: 4;
    grid-column: 3;
}
.btn_action{
    width:300px;
    height:70px;
    margin: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    border-radius:30px;
    border-color: aquamarine;
    background-color: rgb(30, 6, 240);
    color: #ccc;
    text-shadow: 0 2px black;
    cursor: pointer;
    outline: none;
}

#btn_submit{
    height: 70px;
    width: 200px;
    margin: 10px;
}

/* Container and items */

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto)
}

.flex-container{
    display: flex;
    /* margin-top: 100px; */
    height: 130px;

    grid-row: 3;
    grid-column: 1 / 4;
}

.flex-item{
    font-size:70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 15px;
    text-align: center;
    width: 150px;
    height: 150px;
    background-color: yellow;
    cursor: pointer;

    animation: addItem 0.5s forwards;

}

.flex-item:hover{
    animation: mouseOn 2s ease;
    background-color: rgb(7, 82, 112);
}

/* Footer's styles*/

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(7, 82, 112);

    font-size: 25px;
    color: rgb(196, 185, 185);
    text-align: end;
    font-family: Oswald-VariableFont_wght;
    font-family: 'Oswald', sans-serif;
}